*
  margin: 0
  padding: 0
  outline: none

body
  font: 12px/1.1 sans-serif
  overflow: hidden

  h1
    text-align: center
    margin-bottom: 0.5em

  p
    line-height: 1.2em

  .achievement
    background: #333
    color: #eee
    width: 250px
    padding: 5px
    border-radius: 5px
    position: fixed
    right: 15px
    transition: bottom 1s ease, opacity 5s ease

  .introduction
    background: rgba(#333, .75)
    color: #eee
    width: 150px
    padding: 5px
    border-radius: 5px
    position: fixed
    transition: opacity 5s ease

    &::after
      content: ''
      width: 0
      height: 0
      border-top: 10px solid rgba(#333, 0.75)
      border-left: 10px solid transparent
      border-right: 10px solid transparent
      position: absolute
      right: 70px
      bottom: -10px
